extends layout

block content
    h1= title
    - if(errors){
        p(style='color: red')= errors
    -}
    form(method='POST', action='/headings/update/'+id)
        div.form-group.row
            label.col-sm-2.col-form-label Name
            div.col-sm-10
                input.form-control(type='text', placeholder='Name', name='name', value=name)
            label.col-sm-2.col-form-label Parent heading id
            div.col-sm-10
                input.form-control(type='number', placeholder='ParentHeadingId', name='parentHeadingId', value=parentHeadingId)
        input.btn.btn-success(type='submit', value='Save')

